<div class="pageContent">
	
	<form method="post" action="coueseNav/updateCousesNav"   class="pageForm required-validate" onsubmit="return validateCallback(this,navTabAjaxDone)">
		<div class="pageFormContent" layoutH="56">
	     <input type="hidden"  name="courseNavId" value="${Bean.courseNavId}" />
	       	<p>
				<label>课程导航名称：</label>
				<input name="name" value="${Bean.name}"  class="required" type="text" size="30" alt="名 称"/>
			</p>
			<p></p>
			
		    <p>
				<label>排序值 ：</label>
				<input name="sort"  value="${Bean.sort}" class="required"type="text" size="30" alt="整数,值越大与靠前"/>
			</p>
			<p></p>
			
			 <p>
			<label>类型：</label><input type="radio" name="type" value="1" <#if Bean.type=1> checked="checked" </#if>>机构导航 <input type="radio" name="type" value="2" <#if Bean.type=2> checked="checked" </#if>>家教导航
		   </p>
		   <p></p>
		   
		   	<p>
			<label>展示状态：</label><input type="radio" name="status" value="1" <#if Bean.status=1> checked="checked" </#if>>展示 <input type="radio" name="status" value="2" <#if Bean.status=2> checked="checked" </#if>>不展示
		   </p>
		</div>
		
		<div class="formBar">
			<ul>
				<li>
				<div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div>
				</li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>