<form id="pagerForm" method="post" action="coueseType/list">
	<input type="hidden" name="currentPage" value="${BeanList.currentPage}" />
	<input type="hidden" name="pageSize" value="${BeanList.pageSize}" />
</form>


<div class="pageHeader">


	<form onsubmit="return navTabSearch(this);" action="coueseType/list" method="post">
	
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					课程类型名称：<input type="text" name="courseName"/>
				</td>
				
			</tr>
		</table>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
			</ul>
		</div>
	</div>
	</form>
</div>

<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="coueseType/toAdd" target="navTab"><span>添加</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="138">
		<thead>
			<tr>
				<th width="15%">课程类型名称</th>
				<th width="15%">所属导航</th>
				<th width="10%">类型</th>
				<th width="10%">展示顺序</th>
				<th width="15%">创建时间</th>
				<th width="15%">修改时间</th>
				<th width="10%">状态</th>
				<th width="10%">操 作</th>
			</tr>
		</thead>
		<tbody>
		 <#list BeanList.data as courseType> 
			<tr target="sid_user" rel="1">
				<td>${courseType.courseName!}</td>
				<td>${courseType.navName!}</td>
				<td><#if courseType.type=1>平台定义 <#else>自定义</#if></td>
				<td>${courseType.sort!}</td>
				<td>${courseType.gmtCreate?string("yyyy-MM-dd HH:mm:ss")}</td>
				<td>${courseType.gmtModified?string("yyyy-MM-dd HH:mm:ss")}</td>
				<td><#if courseType.status=1>展示 <#else> 不展示</#if></td>
				<td>
				 <a  target="navTab" href="coueseType/toAdd?courseTypeId=${courseType.courseTypeId}"><span style="color:blue">修改</span></a>
				</td>
			</tr>
		</#list>	
		</tbody>
	</table>
	
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
				<option value="200">200</option>
			</select>
			<span>条，共${BeanList.totalCount}条</span>
		</div>
		<div class="pagination" targetType="navTab" totalCount="200" numPerPage="20" pageNumShown="10" currentPage="1"></div>
	</div>
</div>
