<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qmdj.biz.dao.CourseNavDAO">
	<resultMap id="BaseResultMap" type="com.qmdj.biz.domin.CourseNavDO">
		<result column="id" property="id" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="name" property="name" />
		<result column="status" property="status" />
		<result column="type" property="type" />
		<result column="sort" property="sort" />
	</resultMap>
	
	<parameterMap id="CourseNavDO" type="com.qmdj.biz.domin.CourseNavDO"/>
	
	<sql id="Base_Column_List">
		id,gmt_create, gmt_modified, name, status, type, sort
	</sql>
	
	<insert id="insert" parameterMap="CourseNavDO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO qmdj_course_nav (
			gmt_create, gmt_modified, name, status, type, sort
		)
		VALUES (
			now(), now(), #{name}, #{status}, #{type}, #{sort}
		)
	</insert>
	
	<delete id="deleteById" parameterType="java.lang.Long">
		DELETE FROM qmdj_course_nav WHERE id = #{id}
	</delete>
	
	<update id="updateById" parameterMap="CourseNavDO">
        UPDATE qmdj_course_nav SET 
	        	<if test="name!=null">
					name = #{name},
				</if>
	        	<if test="status!=null">
					status = #{status},
				</if>
	        	<if test="type!=null">
					type = #{type},
				</if>
	        	<if test="sort!=null">
					sort = #{sort},
				</if>
		gmt_modified = now()
        WHERE id = #{id}        		
	</update>
	
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM qmdj_course_nav
		WHERE id = #{id}
	</select>
	
	<select id="findByCondition" resultMap="BaseResultMap" parameterMap="CourseNavDO">
		SELECT
		<include refid="Base_Column_List" />
		FROM qmdj_course_nav
		<include refid="whereCondition" />
	</select>
	
	<sql id="whereCondition">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="id!=null">
				and id = #{id}
			</if>
			<if test="gmtCreate!=null">
				and gmt_create = #{gmtCreate}
			</if>
			<if test="gmtModified!=null">
				and gmt_modified = #{gmtModified}
			</if>
			<if test="name!=null">
				and name = #{name}
			</if>
			<if test="status!=null">
				and status = #{status}
			</if>
			<if test="type!=null">
				and type = #{type}
			</if>
			<if test="sort!=null">
				and sort = #{sort}
			</if>
		</trim>
	</sql>
	
	
	<select id="queryForPage" resultMap="BaseResultMap" parameterType="com.qmdj.biz.pogo.qo.CourseNavQO">
		SELECT * from  qmdj_course_nav
		<include refid="pageQueryCondition" />

		<if test="begin != null and pageSize != null">
			LIMIT #{begin}, #{pageSize}
		</if>
	</select>

	<select id="queryForPageCount" resultType="java.lang.Integer" parameterType="com.qmdj.biz.pogo.qo.CourseNavQO">
		SELECT
		count(id)
		FROM qmdj_course_nav
		<include refid="pageQueryCondition" />
	</select>

	<sql id="pageQueryCondition">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="name!=null">
				and name = #{name}
			</if>
		</trim>
	</sql>
</mapper>