<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qmdj.biz.dao.CourseDAO">
	<resultMap id="BaseResultMap" type="com.qmdj.biz.domin.CourseDO">
		<result column="id" property="id" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="parentId" property="parentid" />
		<result column="course_ids" property="courseIds" />
		<result column="course_type" property="courseType" />
		<result column="teaching_way" property="teachingWay" />
		<result column="teaching_times" property="teachingTimes" />
		<result column="teaching_addre" property="teachingAddre" />
		<result column="price" property="price" />
		<result column="time_type" property="timeType" />
		<result column="status" property="status" />
		<result column="sort" property="sort" />
		<result column="title" property="title" />
		<result column="introduce" property="introduce" />
	</resultMap>
	
	<parameterMap id="CourseDO" type="com.qmdj.biz.domin.CourseDO"/>
	
	<sql id="Base_Column_List">
		id,gmt_create, gmt_modified, parentId, course_ids, course_type, teaching_way, teaching_times, teaching_addre, price, time_type, status, sort, title, introduce
	</sql>
	
	<insert id="insert" parameterMap="CourseDO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO qmdj_course (
			gmt_create, gmt_modified, parentId, course_ids, course_type, teaching_way, teaching_times, teaching_addre, price, time_type, status, sort, title, introduce
		)
		VALUES (
			now(), now(), #{parentid}, #{courseIds}, #{courseType}, #{teachingWay}, #{teachingTimes}, #{teachingAddre}, #{price}, #{timeType}, #{status}, #{sort}, #{title}, #{introduce}
		)
	</insert>
	
	<insert id="insertSelective" parameterType="com.qmdj.biz.domin.CourseDO" >
    insert into qmdj_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="parentid != null" >
        parentId,
      </if>
      <if test="courseIds != null" >
        course_ids,
      </if>
      <if test="courseType != null" >
        course_type,
      </if>
      <if test="teachingWay != null" >
        teaching_way,
      </if>
      <if test="teachingTimes != null" >
        teaching_times,
      </if>
      <if test="teachingAddre != null" >
        teaching_addre,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="timeType != null" >
        time_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="courseIds != null" >
        #{courseIds,jdbcType=VARCHAR},
      </if>
      <if test="courseType != null" >
        #{courseType,jdbcType=INTEGER},
      </if>
      <if test="teachingWay != null" >
        #{teachingWay,jdbcType=INTEGER},
      </if>
      <if test="teachingTimes != null" >
        #{teachingTimes,jdbcType=VARCHAR},
      </if>
      <if test="teachingAddre != null" >
        #{teachingAddre,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="timeType != null" >
        #{timeType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
	
	<delete id="deleteById" parameterType="java.lang.Long">
		DELETE FROM qmdj_course WHERE id = #{id}
	</delete>
	
	<update id="update" parameterMap="CourseDO">
        UPDATE qmdj_course SET 
	        	<if test="parentid!=null">
					parentId = #{parentid},
				</if>
	        	<if test="courseIds!=null">
					course_ids = #{courseIds},
				</if>
	        	<if test="courseType!=null">
					course_type = #{courseType},
				</if>
	        	<if test="teachingWay!=null">
					teaching_way = #{teachingWay},
				</if>
	        	<if test="teachingTimes!=null">
					teaching_times = #{teachingTimes},
				</if>
	        	<if test="teachingAddre!=null">
					teaching_addre = #{teachingAddre},
				</if>
	        	<if test="price!=null">
					price = #{price},
				</if>
	        	<if test="timeType!=null">
					time_type = #{timeType},
				</if>
	        	<if test="status!=null">
					status = #{status},
				</if>
	        	<if test="sort!=null">
					sort = #{sort},
				</if>
	        	<if test="title!=null">
					title = #{title},
				</if>
	        	<if test="introduce!=null">
					introduce = #{introduce},
				</if>
		gmt_modified = now()
        WHERE id = #{id}        		
	</update>
	
	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM qmdj_course
		WHERE id = #{id} and status != 100
	</select>
	
	<select id="findByCondition" resultMap="BaseResultMap" parameterMap="CourseDO">
		SELECT
		<include refid="Base_Column_List" />
		FROM qmdj_course
		<include refid="whereCondition" />
	</select>
	
	<sql id="whereCondition">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="id!=null">
				and id = #{id}
			</if>
			<if test="gmtCreate!=null">
				and gmt_create = #{gmtCreate}
			</if>
			<if test="gmtModified!=null">
				and gmt_modified = #{gmtModified}
			</if>
			<if test="parentid!=null">
				and parentId = #{parentid}
			</if>
			<if test="courseIds!=null">
				and course_ids = #{courseIds}
			</if>
			<if test="courseType!=null">
				and course_type = #{courseType}
			</if>
			<if test="teachingWay!=null">
				and teaching_way = #{teachingWay}
			</if>
			<if test="teachingTimes!=null">
				and teaching_times = #{teachingTimes}
			</if>
			<if test="teachingAddre!=null">
				and teaching_addre = #{teachingAddre}
			</if>
			<if test="price!=null">
				and price = #{price}
			</if>
			<if test="timeType!=null">
				and time_type = #{timeType}
			</if>
			<if test="status!=null">
				and status = #{status}
			</if>
			<if test="sort!=null">
				and sort = #{sort}
			</if>
			<if test="title!=null">
				and title = #{title}
			</if>
			<if test="introduce!=null">
				and introduce = #{introduce}
			</if>
		</trim>
	</sql>
	
	
	
	<select id="queryForPageCount" resultType="java.lang.Integer" parameterType="com.qmdj.biz.pogo.qo.CourseQO">
		SELECT
		count(id)
		FROM qmdj_course
		<include refid="pageQueryCondition" />
	</select>

	<sql id="pageQueryCondition">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="name!=null">
				and name = #{name}
			</if>
		</trim>
	</sql>
	
	<select id="queryForPage" resultMap="BaseResultMap" parameterType="com.qmdj.biz.pogo.qo.CourseQO">
		SELECT 
		<include refid="Base_Column_List" />
		from qmdj_course where status !=100  ORDER BY sort DESC ,gmt_create DESC
	</select>
	
	<select id="queryLowestPrice" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT 
		<include refid="Base_Column_List" />
		from qmdj_course where status =1 and parentId=#{orgId}  ORDER BY price ASC  LIMIT 0, 1
	</select>
</mapper>