<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qmdj.biz.dao.CourseTheacherDAO">
	<resultMap id="BaseResultMap" type="com.qmdj.biz.domin.CourseTheacherDO">
		<result column="id" property="id" />
		<result column="course_id" property="courseId" />
		<result column="teacher_id" property="teacherId" />
		<result column="status" property="status" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modified" property="gmtModified" />
	</resultMap>
	
	<parameterMap id="CourseTheacherDO" type="com.qmdj.biz.domin.CourseTheacherDO"/>
	
	<sql id="Base_Column_List">
		id,course_id, teacher_id, status, gmt_create, gmt_modified
	</sql>
	
	<insert id="insert" parameterMap="CourseTheacherDO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO qmdj_course_theacher (
			course_id, teacher_id, status, gmt_create, gmt_modified
		)
		VALUES (
			#{courseId}, #{teacherId}, #{status}, now(), now()
		)
	</insert>
	
	<delete id="deleteById" parameterType="java.lang.Long">
		DELETE FROM qmdjqmdj_course_theacher WHERE id = #{id}
	</delete>
	
	<update id="update" parameterMap="CourseTheacherDO">
        UPDATE qmdj_course_theacher SET 
	        	<if test="courseId!=null">
					course_id = #{courseId},
				</if>
	        	<if test="teacherId!=null">
					teacher_id = #{teacherId},
				</if>
	        	<if test="status!=null">
					status = #{status},
				</if>
		gmt_modified = now()
        WHERE id = #{id}        		
	</update>
	
	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM qmdj_course_theacher
		WHERE id = #{id}
	</select>
	
	<select id="findByCondition" resultMap="BaseResultMap" parameterMap="CourseTheacherDO">
		SELECT
		<include refid="Base_Column_List" />
		FROM qmdj_course_theacher
		<include refid="whereCondition" />
	</select>
	
	<sql id="whereCondition">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="id!=null">
				and id = #{id}
			</if>
			<if test="courseId!=null">
				and course_id = #{courseId}
			</if>
			<if test="teacherId!=null">
				and teacher_id = #{teacherId}
			</if>
			<if test="status!=null">
				and status = #{status}
			</if>
			<if test="gmtCreate!=null">
				and gmt_create = #{gmtCreate}
			</if>
			<if test="gmtModified!=null">
				and gmt_modified = #{gmtModified}
			</if>
		</trim>
	</sql>
</mapper>