<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qmdj.biz.dao.CourseTypeDAO">
	<resultMap id="BaseResultMap" type="com.qmdj.biz.domin.CourseTypeDO">
		<result column="id" property="id" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="course_navId" property="courseNavid" />
		<result column="course_name" property="courseName" />
		<result column="type" property="type" />
		<result column="status" property="status" />
		<result column="sort" property="sort" />
	</resultMap>
	
	<parameterMap id="CourseTypeDO" type="com.qmdj.biz.domin.CourseTypeDO"/>
	
	<sql id="Base_Column_List">
		id,gmt_create, gmt_modified, course_navId, course_name, type, status, sort
	</sql>
	
	<insert id="insertSelective" parameterMap="CourseTypeDO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO qmdj_course_type (
			gmt_create, gmt_modified, course_navId, course_name, type, status, sort
		)
		VALUES (
			now(), now(), #{courseNavid}, #{courseName}, #{type}, #{status}, #{sort}
		)
	</insert>
	
	<delete id="deleteById" parameterType="java.lang.Long">
		DELETE FROM qmdj_course_type WHERE id = #{id}
	</delete>
	
	<update id="update" parameterMap="CourseTypeDO">
        UPDATE qmdj_course_type SET 
	        	<if test="courseNavid!=null">
					course_navId = #{courseNavid},
				</if>
	        	<if test="courseName!=null">
					course_name = #{courseName},
				</if>
	        	<if test="type!=null">
					type = #{type},
				</if>
	        	<if test="status!=null">
					status = #{status},
				</if>
	        	<if test="sort!=null">
					sort = #{sort},
				</if>
			gmt_modified = now()
        WHERE id = #{id}        		
	</update>
	
	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM qmdj_course_type
		WHERE id = #{id}
	</select>
	
	<select id="findByCondition" resultMap="BaseResultMap" parameterMap="CourseTypeDO">
		SELECT
		<include refid="Base_Column_List" />
		FROM qmdj_course_type
		<include refid="whereCondition" />
	</select>
	
	<sql id="whereCondition">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="id!=null">
				and id = #{id}
			</if>
			<if test="gmtCreate!=null">
				and gmt_create = #{gmtCreate}
			</if>
			<if test="gmtModified!=null">
				and gmt_modified = #{gmtModified}
			</if>
			<if test="courseNavid!=null">
				and course_navId = #{courseNavid}
			</if>
			<if test="courseName!=null">
				and course_name = #{courseName}
			</if>
			<if test="type!=null">
				and type = #{type}
			</if>
			<if test="status!=null">
				and status = #{status}
			</if>
			<if test="sort!=null">
				and sort = #{sort}
			</if>
		</trim>
	</sql>
</mapper>