<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qmdj.biz.dao.ModelDAO">
	<resultMap id="BaseResultMap" type="com.qmdj.biz.domin.ModelDO">
		<result column="id" property="id" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="module_code" property="moduleCode" />
		<result column="pic_url" property="picUrl" />
		<result column="text" property="text" />
		<result column="module_type" property="moduleType" />
		<result column="link_url" property="linkUrl" />
		<result column="module_name" property="moduleName" />
		<result column="sort" property="sort" />
		<result column="status" property="status" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
	</resultMap>
	
	<parameterMap id="ModelDO" type="com.qmdj.biz.domin.ModelDO"/>
	
	<sql id="Base_Column_List">
		id,gmt_create, gmt_modified, module_code, pic_url, text, module_type, link_url, module_name, sort, status, start_time, end_time
	</sql>
	
	<insert id="insert" parameterMap="ModelDO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO qmdj_model (
			gmt_create, gmt_modified, module_code, pic_url, text, module_type, link_url, module_name, sort, status, start_time, end_time
		)
		VALUES (
			now(), now(), #{moduleCode}, #{picUrl}, #{text}, #{moduleType}, #{linkUrl}, #{moduleName}, #{sort}, #{status}, #{startTime}, #{endTime}
		)
	</insert>
	
	<delete id="deleteById" parameterType="java.lang.Long">
		DELETE FROM qmdj_model WHERE id = #{id}
	</delete>
	
	<update id="updateById" parameterMap="ModelDO">
        UPDATE qmdj_model SET 
	        	<if test="moduleCode!=null">
					module_code = #{moduleCode},
				</if>
				<if test="moduleName!=null">
					module_name = #{moduleName},
				</if>
	        	<if test="picUrl!=null">
					pic_url = #{picUrl},
				</if>
	        	<if test="text!=null">
					text = #{text},
				</if>
	        	<if test="moduleType!=null">
					module_type = #{moduleType},
				</if>
	        	<if test="linkUrl!=null">
					link_url = #{linkUrl},
				</if>
	        	<if test="sort!=null">
					sort = #{sort},
				</if>
	        	<if test="status!=null">
					status = #{status},
				</if>
	        	<if test="startTime!=null">
					start_time = #{startTime},
				</if>
	        	<if test="endTime!=null">
					end_time = #{endTime},
				</if>
				gmt_modified = now()
        WHERE id = #{id}        		
	</update>
	
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM qmdj_model
		WHERE id = #{id}
	</select>
	
	<select id="findByCondition" resultMap="BaseResultMap" parameterMap="ModelDO">
		SELECT
		<include refid="Base_Column_List" />
		FROM qmdj_model
		<include refid="whereCondition" />
	</select>
	
	
	<select id="findByModelQO" resultMap="BaseResultMap" parameterMap="com.qmdj.biz.pogo.qo.ModelQO">
		SELECT
		<include refid="Base_Column_List" />
		FROM qmdj_model where status=1
		order by sort DESC
	</select>
	
	
	<sql id="whereCondition">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="id!=null">
				and id = #{id}
			</if>
			<if test="gmtCreate!=null">
				and gmt_create = #{gmtCreate}
			</if>
			<if test="gmtModified!=null">
				and gmt_modified = #{gmtModified}
			</if>
			<if test="moduleCode!=null">
				and module_code = #{moduleCode}
			</if>
			<if test="picUrl!=null">
				and pic_url = #{picUrl}
			</if>
			<if test="text!=null">
				and text = #{text}
			</if>
			<if test="moduleType!=null">
				and module_type = #{moduleType}
			</if>
			<if test="linkUrl!=null">
				and link_url = #{linkUrl}
			</if>
			<if test="moduleName!=null">
				and module_name = #{moduleName}
			</if>
			<if test="sort!=null">
				and sort = #{sort}
			</if>
			<if test="status!=null">
				and status = #{status}
			</if>
			<if test="startTime!=null">
				and start_time = #{startTime}
			</if>
			<if test="endTime!=null">
				and end_time = #{endTime}
			</if>
		</trim>
	</sql>
	
	<select id="queryForPage" resultMap="BaseResultMap" parameterType="com.qmdj.biz.pogo.qo.ModelQO">
		SELECT * from  qmdj_model
		<include refid="pageQueryCondition" />

		<if test="begin != null and pageSize != null">
			LIMIT #{begin}, #{pageSize}
		</if>
	</select>

	<select id="queryForPageCount" resultType="java.lang.Integer" parameterType="com.qmdj.biz.pogo.qo.ModelQO">
		SELECT
		count(id)
		FROM qmdj_model
		<include refid="pageQueryCondition" />
	</select>

	<sql id="pageQueryCondition">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="moduleName!=null">
				and module_name = #{moduleName}
			</if>
		</trim>
	</sql>
</mapper>