<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qmdj.dao.user.StaffDAO">

	<resultMap type="Staff" id="staffRemappering">
	<result column="id" property="id" />
	<result column="gmt_create" property="gmtCreate"/>
	<result column="gmt_modified" property="gmtModified"/>
	<result column="login_name" property="loginName"/>
	<result column="password" property="password"/>
	<result column="sex" property="sex"/>
	<result column="name" property="name"/>
	<result column="link_phone" property="linkPhone"/>
	</resultMap>
           
     <insert id="saveUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
         <selectKey resultType="long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
         insert into qmdj_staff(gmt_modified,gmt_create,login_name,password,name,sex,link_phone) 
        values (now(),now(),#{loginName},#{password},#{name},#{sex},#{linkPhone})
      </insert>
      
      <select id="login" resultMap="staffRemappering" parameterType="string" >
       select * from qmdj_staff where login_name=#{loginName} and password=#{password}
      </select>
      
      <delete id="deleteStaffById">
      delete from qmdj_staff where id=#{staffId}
      </delete>
      
</mapper>