<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qmdj.biz.dao.UserDAO">

	<resultMap type="User" id="userRemappering">
	<result column="id" property="id" />
	<result column="gmt_create" property="gmtCreate"/>
	<result column="gmt_modified" property="gmtModified"/>
	<result column="login_name" property="loginName"/>
	<result column="password" property="password"/>
	<result column="identity" property="identity"/>
	<result column="name" property="name"/>
	<result column="sex" property="sex"/>
	<result column="link_phone" property="linkPhone"/>
	<result column="introduce" property="introduce"/>
	<result column="image" property="image"/>
	<result column="status" property="status"/>
	<result column="email" property="email"/>
	</resultMap>
           
     <insert id="saveUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
         <selectKey resultType="long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
         insert into qmdj_user(gmt_modified,gmt_create,login_name,password,identity,name,sex,link_phone,age,introduce,image,status,email) 
        values (now(),now(),#{loginName},#{password},#{identity},#{name},#{sex},#{linkPhone},#{age},#{introduce},#{image},1,#{email})
      </insert>
      
      <select id="queryUserList" resultMap="userRemappering">
       select * from qmdj_user where status=1
      </select>
      
      <select id="queryUserByUserId" resultType="User" parameterType ="long">
       select * from qmdj_user where id=#{userId}
      </select>
      
      
</mapper>