<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.UserDAO">
           
     <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
         <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
         insert into days_user(  
         state,
         nickname) 
         values 
         (        
         #{state},
         #{nickname})
      </insert>
      
  <select id="queryUserById" resultType="User" parameterType="int">
   select * from days_user where id=#{id}
 </select>
</mapper>