
<div class="pageContent">
	
	<form method="post" action="org/saveOrganization" class="pageForm required-validate" onsubmit="return validateCallback(this,navTabAjaxDone)">
		<div class="pageFormContent" layoutH="56">
		   <p>
		        <label>首图 ：</label>
				<img alt="" src="http://ww4.sinaimg.cn/thumbnail/67a81f1djw1enbngye69lj20qo0f00ud.jpg">
	       </p>
	       <p></p> <p></p>
	       <p></p> <p></p>
	       <p></p> 
			<p>
				<label>机 构 名 称 ：</label>
				<input name="name" class="required"type="text" value="${Bean.name}"  size="30" alt="机 构 名 称"/>
			</p>
			<p>
				<label>标        题：</label>
				<input name="title" class="required" type="text" size="30" value="${Bean.title}" alt="标        题"/>	
			</p>
			<p>
				<label>联 系 方 式 ：</label>
				<input name="phone" class="required" type="text" size="30"  value="${Bean.phone}" alt="联 系 方 式"/>	
			</p>
			<p>
				<label>负 责 人 ：</label>
				<select class="combox" name=userId>
					<option value="0">请选择....</option>
					<#list userList as user> 
					<option value="${user.id}">${user.name}</option>
					</#list>
				</select>
			</p>
			<p>
				<label>开 始 时 间 ：</label>
				<input name="startTime"class="date textInput readonly" value="${Bean.startTime? string("yyyy-MM-dd HH:mm:ss")}" datefmt="yyyy-MM-dd HH:mm:ss" size="30" readonly="true"  />
			</p>
			<p>
				<label>结 束 时 间 ：</label>
				<input name="endTime" class="date textInput readonly" value="${Bean.endTime? string("yyyy-MM-dd HH:mm:ss")}"  datefmt="yyyy-MM-dd HH:mm:ss" size="30" readonly="true" />
			</p>

			<p>
				<label>机构详细地址：</label>
				<input name="addrName" class="required" type="text" size="30" value="${Bean.addrName}" alt="机构详细地址"/>
			</p>
			
			<p></p>
			
			<p>
				<label>图片集：</label>
				<img alt="" src="http://ww4.sinaimg.cn/thumbnail/67a81f1djw1enbngye69lj20qo0f00ud.jpg">
				<img alt="" src="http://ww4.sinaimg.cn/thumbnail/67a81f1djw1enbngye69lj20qo0f00ud.jpg">
			</p>
		
			<p></p><p></p>
			<p></p><p></p>
			
			<dl class="nowrap">
			<dt>结 构 介 绍：</dt>
			<dd>
				<textarea class="editor" name="introduce" rows="15" cols="95">${Bean.introduce}</textarea>
			</dd>
		</dl>
			
		</div>
		<div class="formBar">
			<ul>
				<!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
