<div class="pageContent">
<form method="post" action="orgUser/userUpdate" class="pageForm required-validate" onsubmit="return validateCallback(this,navTabAjaxDone)">
	<div class="pageFormContent" layoutH="56">
	  <input type="hidden"  name="userId" value="${Bean.userId}" />
	  <input  type="hidden" name="identity" value="5"  />
	   <div class="unit" style="height:50px">
				<label>首图：</label>
				<p style="wilabelh:240px">
				<#if Bean.image=null> <img id="imageUpdatePreview"  wilabelh="220" height="110" /> <input type="hidden" id="updateimage" name="image" /> <#else><img alt="" src="${Bean.image}" wilabelh="220" height="110"> <input type="hidden" id="orgUpdateimage" name="image" value="${Bean.image}" /> </#if>
				<p><input type="file" name="file" id="add_bank_file_upload_orgUserUpdate" /></p>
	  	</div>
	  	 	<p></p>
	       	<p></p>
	       	<p></p>
		<p>
			<label>登 录 名：</label><input name="loginName" value="${Bean.loginName}" class="required" alt="请输入登录名" type="text">
		</p>
		<p>
			<label>密   码：</label><input name="password"  value="${Bean.password}" class="required" alt="请输入密码" type="text">
		</p>
		<p>
			<label>姓   名：</label><input name="name"    value="${Bean.name}"  class="required" alt="请输入姓名" type="text">
		</p>
		
		<p>
			<label>性别：</label><input type="radio" name="sex" value="1"  <#if Bean.sex=1> checked="checked" </#if> > 男 <input type="radio" name="sex" value="2"  <#if Bean.sex=2> checked="checked"</#if>>女
		</p>
		<p>
			<label>年龄：</label><input name="age"  value="${Bean.age}" class="digits"  alt="必须为整数" type="text"/>
		</p>
		<p>
			<label>联系电话：</label><input name="linkPhone"  value="${Bean.linkPhone}" class="required" alt="电话,可以跟登录名一样" type="text"/>
		</p>
		
		<p>
			<label>邮箱：</label><input name="email" value="${Bean.email}" type="text"/>
		</p>

		<p class="nowrap">
			<label>个人介绍：</label>
			
				<textarea class="editor" name="introduce"  rows="15" cols="95">${Bean.introduce}</textarea>
			
		</p>
	</div>
	
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>

<script type="text/javascript">

$(function() {
	 $("#add_bank_file_upload_orgUserUpdate").uploadify({
        'method'      : 'post',  
        'buttonText'  : '请选择', 
        'swf'         : 'uploadify/scripts/uploadify.swf',
		'uploader'    : 'upload/JonsImage',
        'fileObjName' : 'file', 
        'displayData' : 'speed',
        'auto' : true,
        'onUploadSuccess' : function(file, data, response) { 
        	var json = JSON.parse(data);
        	if(json.date!=null||json.date!=""){
        	$("#imageUpdatePreview").attr("src",json.date);
        	$("#updateimage").attr("value",json.date);
        	}else{
        		alert("上传失败，稍后请重试");
        	}
        }  
	 });   
});
</script> 
